/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #007bff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#banner {
    text-align: center;
    margin-bottom: 20px;
}

#banner img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 800px;
    object-fit: cover; /* Garante que a imagem seja cortada para caber nas dimensões */
    margin-bottom: 10px;
}

.product-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.product-item .buy-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.product-item .buy-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
